@using SEP6.Pages
<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(LogIn)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(LogIn)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>