@page "/HallOfFame"
@using Entities

<h3 class="title" >Hall of Fame</h3>

<div class="movie-list">
    @if (_movies.Count == 0)
    {
        <h4 class="title">Loading...</h4>
    }
    else
    {
    @foreach (var movie in _movies)
    {
        @if(movie!=null)
        {
            <div class="movie-card">
                <h4 class="title">@movie.ReleaseDate.Substring(0,4)</h4>
                <div class="movie-poster-container">
                    @if (!string.IsNullOrEmpty(movie.PosterPath))
                    {
                        <img class="movie-poster" src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="@movie.Title"/>
                    }
                    else
                    {
                        <img class="fallback-poster" src="fallback-image.jpg" alt="No Poster Available"/>
                    }
                </div>
                <div class="movie-details">
                    <h4 class="movie-title">@(movie.Title)</h4>
                    <div class="movie-info">
                        <p class="movie-release-date"><strong><em>Release Date:</em></strong> <em>@movie.ReleaseDate</em></p>
                        <p class="movie-vote-average"><strong><em>Vote Average:</em></strong> <em>@movie.VoteAverage</em></p>
                        <p class="movie-vote-count"><strong><em>Vote Count:</em></strong> <em>@movie.VoteCount</em></p>
                    </div>
                </div>
            </div>
        }
    }
        
    }
</div>

<style>

    body{
        background-color: #711324;
        padding: 30px;
    }
    .title{
        text-align: center;
        color: black;
        font-family: "Berlin Sans FB",serif;
    }
    .movie-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .movie-card {
        width: 300px;
        margin: 20px;
        padding: 10px;
        background-color: #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .movie-poster-container {
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movie-poster, .fallback-poster {
        max-width: 100%;
        max-height: 100%;
    }

    .fallback-poster {
        object-fit: contain;
        background-color: #ddd;
        padding: 10px;
    }

    .movie-details {
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .movie-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        word-break: break-word;
        text-align: center;
    }

    .movie-info {
        flex-grow: 1;
    }

    .movie-release-date,
    .movie-vote-average,
    .movie-vote-count {
        margin-bottom: 5px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-navigation {
        padding: 10px 20px;
        margin: 0 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .current-page {
        font-weight: bold;
    }

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-bar input {
        padding: 5px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .search-bar button {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 10px;
    }

    .close-button {
        padding: 5px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px;
    }

    .close-button span {
        font-size: 12px;
        line-height: 1;
    }
    
    .filter-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    
        .filter-bar label {
            margin-right: 10px;
            background-color: #f5f5f5;
            border-radius: 3px;
            border: white 1px solid;
            padding: 4px;
        }
    
        .filter-bar select {
            padding: 5px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
</style>

@code {
    private List<MovieDetails> _movies = new List<MovieDetails>();
    TMDBApiClient _tmdbApiClient;
    
    
    protected override async Task OnInitializedAsync()
    {
        _tmdbApiClient = new TMDBApiClient("7f4f7ef07e4add825a6a5cedbbf03857");
        await LoadMovies();
    }
    
    private async Task LoadMovies()
    {
        
        _movies = await _tmdbApiClient.GetHoFMovie();
    }
    
}